<header role="banner">
    <h3 style="margin-top:0;">
        <a href="{{ site.baseurl }}/" title="Home">
            {{ site.title }} <a id="e1">⚡</a>
        </a>
        <b style="float: right;">
            <nav style="font:16px/1.5 monaco,Consolas,Lucida Console,monospace;" role="navigation">
                <a href="/about">About</a>
                <span>&middot;</span>
                <a href="/atom.xml">RSS</a>
                <span>&middot;</span>
                <a href="https://github.com/giftmischer69/lightning">Source on Github</a>
            </nav>
        </b>

        <br><small>{{ site.tagline }}</small>
    </h3>
</header>
<hr>
